body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1646px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1646px;
  height:1233px;
  background:inherit;
  background-color:rgba(25, 29, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1646px;
  height:1233px;
  display:flex;
  font-size:18px;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u120 label {
  left:0px;
  width:100%;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:72px;
  width:315px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u120_img.selected {
}
#u120.selected {
}
#u120_img.disabled {
}
#u120.disabled {
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:293px;
  word-wrap:break-word;
  text-transform:none;
}
#u120_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u121 label {
  left:0px;
  width:100%;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:72px;
  width:346px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u121_img.selected {
}
#u121.selected {
}
#u121_img.disabled {
}
#u121.disabled {
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:324px;
  word-wrap:break-word;
  text-transform:none;
}
#u121_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u122 label {
  left:0px;
  width:100%;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:72px;
  width:238px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u122_img.selected {
}
#u122.selected {
}
#u122_img.disabled {
}
#u122.disabled {
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u122_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u123 label {
  left:0px;
  width:100%;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:72px;
  width:238px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u123_img.selected {
}
#u123.selected {
}
#u123_img.disabled {
}
#u123.disabled {
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u123_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u124 label {
  left:0px;
  width:100%;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:150px;
  width:238px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u124_img.selected {
}
#u124.selected {
}
#u124_img.disabled {
}
#u124.disabled {
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u124_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u125 label {
  left:0px;
  width:100%;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:150px;
  width:238px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u125 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u125_img.selected {
}
#u125.selected {
}
#u125_img.disabled {
}
#u125.disabled {
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u125_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-41px;
  width:51px;
  height:26px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u127 label {
  left:0px;
  width:100%;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:150px;
  width:238px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u127 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u127_img.selected {
}
#u127.selected {
}
#u127_img.disabled {
}
#u127.disabled {
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u127_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u128 label {
  left:0px;
  width:100%;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:150px;
  width:238px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u128 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u128_img.selected {
}
#u128.selected {
}
#u128_img.disabled {
}
#u128.disabled {
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u128_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u129 label {
  left:0px;
  width:100%;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:221px;
  width:238px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u129_img.selected {
}
#u129.selected {
}
#u129_img.disabled {
}
#u129.disabled {
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u129_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:310px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:542px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:563px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:309px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:290px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:314px;
  width:193px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:336px;
  width:460px;
  height:230px;
}
#u137_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:310px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:542px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:563px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:309px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:290px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:314px;
  width:223px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u144_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:336px;
  width:460px;
  height:230px;
}
#u145_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:310px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:542px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:1574px;
  top:563px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:309px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:290px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:314px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u152 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u152_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:336px;
  width:460px;
  height:230px;
}
#u153_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:621px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:853px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:874px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:620px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:601px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:625px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u160 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u160_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:647px;
  width:460px;
  height:230px;
}
#u161_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:621px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:853px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:874px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:620px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:601px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:625px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u168 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:621px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:853px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:1574px;
  top:874px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:620px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:601px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:625px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u175 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u175_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:647px;
  width:460px;
  height:230px;
}
#u176_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:938px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:1170px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:1191px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:937px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:918px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:942px;
  width:39px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:964px;
  width:460px;
  height:230px;
}
#u184_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:938px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:1170px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:1191px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:937px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:918px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:942px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u191_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:964px;
  width:460px;
  height:230px;
}
#u192_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:938px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:1170px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:1574px;
  top:1191px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:937px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:918px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:942px;
  width:162px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:964px;
  width:460px;
  height:230px;
}
#u200_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:210px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:667px;
  width:426px;
  height:210px;
  display:flex;
}
#u201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
