body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1655px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1655px;
  height:920px;
  background:inherit;
  background-color:rgba(25, 29, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1655px;
  height:920px;
  display:flex;
  font-size:20px;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65 label {
  left:0px;
  width:100%;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:38px;
  width:315px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u65_img.selected {
}
#u65.selected {
}
#u65_img.disabled {
}
#u65.disabled {
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:293px;
  word-wrap:break-word;
  text-transform:none;
}
#u65_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u66 label {
  left:0px;
  width:100%;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:38px;
  width:346px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u66_img.selected {
}
#u66.selected {
}
#u66_img.disabled {
}
#u66.disabled {
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:324px;
  word-wrap:break-word;
  text-transform:none;
}
#u66_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u67 label {
  left:0px;
  width:100%;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:38px;
  width:238px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u67_img.selected {
}
#u67.selected {
}
#u67_img.disabled {
}
#u67.disabled {
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u67_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u68 label {
  left:0px;
  width:100%;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:116px;
  width:238px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u68_img.selected {
}
#u68.selected {
}
#u68_img.disabled {
}
#u68.disabled {
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u68_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u69 label {
  left:0px;
  width:100%;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:116px;
  width:238px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u69_img.selected {
}
#u69.selected {
}
#u69_img.disabled {
}
#u69.disabled {
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u70 label {
  left:0px;
  width:100%;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:18px;
  height:18px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:116px;
  width:238px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u70_img.selected {
}
#u70.selected {
}
#u70_img.disabled {
}
#u70.disabled {
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:216px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:218px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:450px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:471px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:217px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:198px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:222px;
  width:193px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u77 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:244px;
  width:460px;
  height:230px;
}
#u78_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:218px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:450px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:471px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:217px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:198px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:222px;
  width:223px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u85 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:244px;
  width:460px;
  height:230px;
}
#u86_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:218px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:450px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:1586px;
  top:471px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:217px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:198px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:222px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u93 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:244px;
  width:460px;
  height:230px;
}
#u94_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:529px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:761px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:782px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:528px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:509px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:533px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:555px;
  width:460px;
  height:230px;
}
#u102_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:529px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:761px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:782px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:528px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:509px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:533px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u109 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:529px;
  width:479px;
  height:272px;
  display:flex;
  font-size:18px;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:761px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:1586px;
  top:782px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:528px;
  width:1px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:509px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:18px;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:533px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:555px;
  width:460px;
  height:230px;
}
#u117_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:210px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:575px;
  width:426px;
  height:210px;
  display:flex;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
